
*{
  margin: 0;
  padding:0;
  font-family: Didot, serif;
  box-sizing: border-box;

}
body{
  background: rgb(70,223,252);
  background: radial-gradient(circle, rgba(70,223,252,0.7610241820768137) 5%, rgba(65,123,134,1) 34%);
}
html{
  scroll-behavior: smooth;
}
nav{
 float: right;
 
}
nav ul li{
  display: inline-block;
  padding: 25px 25px;
  font-size: 25px;
}
nav ul li a{
  text-decoration: none;
  color: aliceblue;

}
nav ul li a:hover{
  
  border-bottom:none;
  color: #4E9CAF;
  display: block;
  width:121px;
  height: 35px;
  line-height: 35px;


}
.info h2{
    padding-top: 25%;
    padding-left: 50px;
    padding-right: 50%;
    font-size: 45px;
    color: white;
    font-family: Didot, serif;
    font-weight: bold;
    
}
.info p{
  padding-top: 20px;
  padding-left: 70px;
  color: white;
  font-size: 25px;
  padding-right: 70%;
  font-weight: bold;
  border:1px;
}

.data h2{
  padding : 40px 25px;
  position: relative;
  font-size: 45px;
  color: black;
  font-family: Didot, serif;
  font-weight: bold;
  text-align: center;
  
}
.data p{
  padding : 25px 500px;
  position: relative;
  font-size: 35px;
  font-family: Didot, serif;
  color: black;
 
  font-weight: normal;
  text-align: center;
  
}

.leftdata h2{
  padding : 40px 25px;
  position: relative;
  font-size: 45px;
  color: black;
  font-family: Didot, serif;
  font-weight: bold;
  text-align: left;
  
}

.leftdata p{
  padding : 25% 25%;
  color: black;
  font-size: 25px;
  padding-right: 70%;
  font-weight: bold;
  border:1px;
}


.button {
  display: block;
  width: 180px;
  background: #4E9CAF;
  padding: 7px 20px 8px 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 50px;
  padding: 25px;
  margin: 0 auto;
}

.map{  
  padding: 25px 25px ;
  text-align: right;
  border-radius: 50px;
  padding: 25px;
  margin: 0 auto;
  width: 50%;
}


.coloumn {
  float: left;
  width: 50%;
  padding: 5px;
  
}

.coloumn h2{
  padding : 40px 25px;
  position: relative;
  font-size: 45px;
  color: black;
  font-family: Didot, serif;
  font-weight: bold;
  text-align: left;
  
}

.coloumn p{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 0px;
  color: black;
  font-size: 25px;
  padding-right: 20%;
  font-weight: normal;
  font-family: Didot, serif;

}

#home{
  background-image: url(../img/mnc3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 850px;

}

#Approach{

  height: 700px;
  
}
#address{

  height: 510px;
  
  background: rgb(65,123,134);
  background: radial-gradient(circle, rgba(65,123,134,1) 7%, rgba(70,223,252,1) 31%, rgba(66,124,135,1) 100%);
}

#about {
  
  background-image: url(../img/about.jpg); 
  background-size: 100%;
  background-repeat: no-repeat;
  background-color:black;
  background-blend-mode: lighten;
}

#services{
  background-image: url(../img/services.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color:black;
  background-blend-mode: lighten;

}

#bottom{
    background: #2b2b2b;
   height: 200px;
    
    }

    
.coloumnbottom {
  float: left;
  width: 50%;
  padding: 40px;
  
}

.coloumnbottom h2,p{
 
  position: relative;
  font-size: 13px;
  color: white;

  
}

.coloumnbottom {
 
  position: relative;
  font-size: 13px;
  color: white;
  text-align: center;

  
}
.coloumnbottom  nav ul li {
  display: table-cell;
  position: relative;
  font-size: 18px;
  color: white;
  text-align: center;
}